---
import Header from "./Header.astro"
const { content } = Astro.props
import directus from "../../../lib/directus"
import {  readSingleton } from '@directus/sdk';
const global = await directus.request(readSingleton("global", { fields: ["logo"] }))
---
<script data-astro-rerun>
    document.querySelectorAll('#content > *').forEach((el) => {
        el.classList.add('fade-in')
    })
</script>

<!-- <Header branded={true} title={"OUR MISSION"} /> -->
<div class="text-xl flex flex-col gap-4">
    <div id="content" class="font-touche flex flex-col gap-8 md:text-2xl text-lg md:text-justify text-balance md:mx-16 md:*:indent-12 *:text-pretty">
        <Fragment set:html={content} />
    </div>
    <img src={`https://admin.urikabioworks.com/assets/${global.logo}`} alt="URIKA Logo" class="w-36 my-12 mx-auto" />
    <!-- <hr class="w-1/2 border-urika-orange-400 mx-auto mb-24" /> -->
</div>
