---
const { content } = Astro.props
---
<script data-astro-rerun>
    document.querySelectorAll('#content > *').forEach((el) => {
        el.classList.add('fade-in')
    })
</script>
<div class="text-urika-gray-600 text-xl flex flex-col gap-4 mt-24 text-pretty">
    <h1 class="fade-in text-5xl md:text-center mb-6">
        <p>
            <span class="font-urika text-6xl text-urika-blue-500">URIKA</span>
            <span class="font-touche font-medium text-5xl text-urika-orange-400 leading-snug"> [bioworks]</span>
        </p>
        <p class="text-urika-blue-800 font-extrabold text-5xl uppercase">OUR MISSION</p>
    </h1>
    <div id="content" class="font-touche flex flex-col gap-8 md:text-2xl text-lg md:text-justify text-balance md:mx-16 md:*:indent-12 *:text-pretty">
        <Fragment set:html={content} />
    </div>
    <hr class="w-1/2 border-urika-orange-400 mx-auto mb-24 mt-12" />
</div>
