---
const { title, expertise_items } = Astro.props;
---

<div class="flex flex-col gap-12 items-center justify-center my-12">
    <h2 class="fade-up font-touche font-extrabold text-urika-blue-800 dark:text-urika-blue-600 text-center md:text-5xl text-4xl text-pretty">{title}</h2>
    <div class="font-touche flex flex-col gap-12 2xl:mx-12">
        {expertise_items.map((item, index) => (
            <div class={`fade-up flex flex-col md:flex-row ${index % 2 !== 0 ? 'md:flex-row-reverse md:text-right' : ''} items-center md:items-center justify-center gap-12`}>
                <img class="w-24 h-24 opacity-70" src={`https://admin.urikabioworks.com/assets/${item.image}`} alt="Expertise Icon" />
                <div class={`${index % 2 !== 0 ? 'md:text-right' : 'md:text-left'} text-center md:text-left text-2xl text-pretty`}>
                    <Fragment set:html={item.content} />
                </div>
            </div>
        ))}
    </div>
</div>
