---
const { image, title, subtitle, tagline } = Astro.props;
---
<style>
    .logo-title {
        font-size: clamp(4rem, 7vw, 8rem);
        line-height: 0.85em;
    }
    .logo-subtitle {
        font-size: clamp(1.75rem, 3.05vw, 3.5rem);
        letter-spacing: 0.35em;
        line-height: 1.2em;
    }
    .logo-tagline {
        font-size: clamp(1rem, 1.75vw, 2rem);
        line-height: 2em;
    }
    .left-bracket, .right-bracket {
        font-size: clamp(1.85rem, 3.25vw, 3.75rem);
    }
    .left-bracket {
        line-height: 2rem;
        letter-spacing: 0.35em;
    }
    .right-bracket {
        line-height: 2rem;
    }
</style>

<div class="hero-block min-h-svh h-dvh flex flex-col items-center">
    <div class="flex-grow flex flex-col items-center justify-center mb-8 fade-up">
        <img style="height: 40dvh;" class="transition mb-12 mt-16" src={`https://admin.urikabioworks.com/assets/${image}`} alt="URIKA Logo" loading="lazy" />
        <h1 class="text-center">
            <span class="font-urika text-urika-gray-400 logo-title mb-3 block">{title}</span>
            <span class="left-bracket font-touche text-urika-gray-400">[</span>
            <span class="font-touche bold text-urika-gray-400 logo-subtitle">{subtitle}</span>
            <span class="right-bracket font-touche text-urika-gray-400">]</span>
            <span class="font-touche text-urika-gray-500 logo-tagline block">{tagline}</span>
        </h1>
    </div>
    <button id="scrollDownButton" class="fade-in w-12 h-12 mb-8 cursor-pointer outline-none" aria-label="Scroll Down">
        <svg class="h-12 w-12" viewBox="0 0 26.336874 14.60877" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(-7.5397891,-119.59028)"><g><path
                style="fill:#27a9e0;stroke-width:0.264583"
                d="m 7.610878,121.15278 13.010734,13.01073 1.367736,-1.36774 -13.1026825,-13.10268 z" />
            <path
                style="fill:#f6931d;fill-opacity:1;stroke-width:0.264583"
                d="M 32.442133 119.602 L 22.049555 129.99458 L 23.416742 131.36176 L 33.717523 121.06098 L 32.442133 119.602 z " /></g>
            </g>
        </svg>
    </button>
</div>

<script type="module" data-astro-rerun>
    const scrollDownButton = document.getElementById('scrollDownButton');
    scrollDownButton.addEventListener('click', () => {
        window.scrollBy({
            top: window.innerHeight - 64,
            behavior: 'smooth'
        });
    });
</script>
