---
const { image, title, subtitle, tagline } = Astro.props;
---
<style>
    .hero-block {
        min-height: calc(100svh - 64px);
    }
    .logo-title {
        font-size: clamp(4rem, 8vw, 7rem);
        line-height: 1em;
    }
    .logo-subtitle {
        font-size: clamp(1.75rem, 3.5vw, 3.1rem);
        letter-spacing: 0.35em;
        line-height: 1.2em;
    }
    .logo-tagline {
        font-size: clamp(1.2rem, 2vw, 1.9rem);
        line-height: 2em;
    }
    .left-bracket, .right-bracket {
        font-size: clamp(2rem, 3.5vw, 3.75rem);
    }
    .left-bracket {
        line-height: 2rem;
        letter-spacing: 0.35em;
    }
    .right-bracket {
        line-height: 2rem;
    }
</style>

<div class="hero-block flex flex-col items-center justify-center fade-in">
    <img class="lg:w-56 md:w-44 w-36 transition mb-8" src={`https://admin.urikabioworks.com/assets/${image}`} alt="Hero Image" loading="lazy" />
    <h1 class="text-center">
        <span class="font-urika text-urika-gray-400 logo-title mb-3 block">{title}</span>
        <span class="left-bracket font-touche text-urika-gray-400">[</span><span class="font-touche-medium text-urika-gray-400 logo-subtitle">{subtitle}</span><span class="right-bracket font-touche text-urika-gray-400">]</span>
        <span class="font-touche text-urika-gray-400 mb-12 logo-tagline block">{tagline}</span>
    </h1>
    <button id="scrollDownButton" class="w-12 h-12" aria-label="Scroll Down">
        <svg viewBox="0 -5 24 24" class="fill-urika-orange-500 h-9 w-9" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g id="Icon-Set" transform="translate(-572.000000, -1200.000000)"> <path d="M595.688,1200.28 C595.295,1199.89 594.659,1199.89 594.268,1200.28 L583.984,1211.57 L573.702,1200.28 C573.31,1199.89 572.674,1199.89 572.282,1200.28 C571.89,1200.68 571.89,1201.32 572.282,1201.71 L583.225,1213.72 C583.434,1213.93 583.711,1214.02 583.984,1214 C584.258,1214.02 584.535,1213.93 584.745,1213.72 L595.688,1201.71 C596.079,1201.32 596.079,1200.68 595.688,1200.28" id="chevron-down"> </path> </g> </g> </g></svg>
    </button>
</div>

<script>
        const scrollDownButton = document.getElementById('scrollDownButton');
        scrollDownButton.addEventListener('click', () => {
            window.scrollBy({
                top: window.innerHeight,
                behavior: 'smooth'
            });
        });
</script>
