---
import directus from "../../../lib/directus"
import { readItems } from '@directus/sdk';
const publications = await directus.request(readItems("publications", {
    filter: {
        status: { _eq: "published" },
    },
    fields: ["title", "permalink", "authors", "id"],
}))
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {publications.map((publication) => (
        <a href={ "/publications/" + publication.permalink } class="fade-in group relative flex flex-col gap-8 mb-8 text-zinc-700 dark:text-zinc-300 items-center border border-zinc-200 dark:border-zinc-800 shadow-lg hover:shadow-none transition-all dark:shadow-black rounded-2xl p-8 w-full hover:bg-zinc-50 dark:hover:bg-black">
            <h2 class="text-3xl font-bold leading-8 mb-1 font-serif grow">{publication.title}</h2>
            <div class="flex flex-col w-full">
              {publication.authors.map((author) => (
                  <h3 class="text-xl w-full text-urika-orange-600 dark:text-urika-orange-500 leading-6 font-extrabold">
                      {author.first_name} {author.middle_name} {author.last_name}
                  </h3>
              ))}
            </div>
            <svg class="absolute bottom-8 right-8 transition-opacity opacity-0 group-hover:opacity-100 w-6 h-6 fill-zinc-700 dark:fill-zinc-300" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120" enable-background="new 0 0 120 120" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <polygon points="102.296,59.957 42.264,119.99 25.605,103.34 85.639,43.299 "></polygon> <polygon points="85.74,76.71 25.715,16.653 42.373,0.011 102.391,60.067 "></polygon> </g></svg>
        </a>
    ))}
</div>
