---
import TeamMember from "../TeamMember.astro";
import directus from "../../../lib/directus"
import { readItems } from '@directus/sdk';
const team_members = await directus.request(readItems("team_members", {
    filter: {
        status: { _eq: "published" },
    },
    fields: ["name", "title", "bio", "headshot",
        {
            section: ["section"]
        }
    ],
}))
const { id, title, block_section } = Astro.props
const members = team_members.filter((member) => member.section.section === block_section.section)
---

<div id={ "teamBlock-" + id } class="stagger-container grid grid-cols-1 lg:grid-cols-2 gap-12 my-12">
    { title && (
        <h2 class="fade-in col-span-1 lg:col-span-2 text-4xl font-extrabold text-center uppercase text-urika-orange-500">{ title }</h2>
    )}
    {members.map((member) => (
        <TeamMember { ...member } />
    ))}
</div>

<script is:inline type="module" data-astro-rerun define:vars={{ blockId: "#teamBlock-" + id }}>
    import { animate, inView, stagger } from "https://cdn.jsdelivr.net/npm/motion@latest/+esm"
    inView(blockId, ({ target }) => {
        animate(blockId + "> .stagger-in",
         	{ opacity: [0, 1], x: [20, 0] },
      		{ delay: stagger(0.3), duration: 0.6},
            { ease: [0.39, 0.24, 0.3, 1] },
        );
    })
</script>
