---
import Head from '../Head.astro'
---
<Head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</Head>

<div id='crmWebToEntityForm' class='zcwf_lblLeft crmWebToEntityForm max-w-3xl mx-auto stagger-container'>
    <form id='webform5824731000001554023' action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads5824731000001554023 method='POST' accept-charset='UTF-8'>
        <input type='text' style='display:none;' name='xnQsjsdp' value='bf642f09879d8e7f146626c9fb3b3728f9a01ff86cefb1fb1da85e0272e6b936'></input>
        <input type='hidden' name='zc_gad' id='zc_gad' value=''></input>
        <input type='text' style='display:none;' name='xmIwtLD' value='36b762507263c2ebe4e67d7180dcc7647d39fa6aa6060229adf03cdc44568de16e4d830ab8f7281bf648b7b548b27d08'></input>
        <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
        <input type='text' style='display:none;' name='returnURL' value='https&#x3a;&#x2f;&#x2f;urikabioworks.com&#x2f;thank-you' > </input>

        <div class="flex flex-col md:flex-row md:gap-4 stagger-in">
            <input type='text' required autofocus class='textinput' placeholder="First Name*" id='First_Name' aria-required='true' aria-label='First Name' name='First Name' aria-valuemax='40' maxlength='40'></input>
            <input type='text' required class='textinput' placeholder="Last Name*" id='Last_Name' aria-required='true' aria-label='Last Name' name='Last Name' aria-valuemax='80' maxlength='80'></input>
        </div>

        <input type='email' required class='textinput stagger-in' placeholder="your@address.com*" id='Email' aria-required='true' aria-label='Email' name='Email' aria-valuemax='100' maxlength='100'></input>

        <div class="flex flex-col md:flex-row md:gap-4 stagger-in">
            <input type='text' required class='textinput' placeholder="Company*" id='Company' aria-required='true' aria-label='Company' name='Company' aria-valuemax='200' maxlength='200'></input>
            <input type='text' required class='textinput' placeholder="Title*" id='Designation' aria-required='true' aria-label='Designation' name='Designation' aria-valuemax='100' maxlength='100'></input>
        </div>

        <textarea class='textinput h-40 stagger-in' required aria-multiline='true' placeholder="Inquiry*" id='Description' aria-required='true' aria-label='Description' name='Description'></textarea>

        <div class="self-center mx-auto w-80 h-20 mb-4 stagger-in">
            <div class='g-recaptcha' data-sitekey='6LctNJsqAAAAAKeS07e9XJWDHYkBt4MoE-6XiQj3' data-theme='light' data-callback='rccallback5824731000001554023' captcha-verified='false' id='recap5824731000001554023'></div>
            <div id='recapErr5824731000001554023' class="text-center" style='font-size:12px;color:red;visibility:hidden;'>Captcha validation failed. Please try again.</div>
        </div>

        <input type='submit' class='button stagger-in' id='formsubmit' role='button' class='formsubmit zcwf_button' value='Submit' aria-label='Submit' title='Submit'>
    </form>
</div>

<script type="module" data-astro-rerun>
    import { animate, inView, stagger } from "https://cdn.jsdelivr.net/npm/motion@latest/+esm"
    inView(".stagger-container", ({ target }) => {
        animate(".stagger-in",
           	{ opacity: [0, 1] },
      		{ delay: stagger(0.2), duration: 0.5},
            { ease: [0.39, 0.24, 0.3, 1] },
        );
    })

    function rccallback5824731000001554023() {
      console.log("running recaptcha callback")
        if(document.getElementById('recap5824731000001554023') != undefined){
            document.getElementById('recap5824731000001554023').setAttribute('captcha-verified', 'true');
        }
        if(document.getElementById('recapErr5824731000001554023') != undefined && document.getElementById('recapErr5824731000001554023').style.visibility == 'visible' ){
            document.getElementById('recapErr5824731000001554023').style.visibility='hidden';
        }
    }
    window.rcccallback5824731000001554023 = rccallback5824731000001554023;

    function validateEmail() {
        const form = document.forms['WebToLeads5824731000001554023'];
        const emailFld = form.querySelectorAll('[type=email]');
        let i = 0;
        for (i = 0; i < emailFld.length; i++) {
            var emailVal = emailFld[i].value;
            if((emailVal.replace(/^\s+|\s+$/g, '')).length!=0 ) {
     			var atpos=emailVal.indexOf('@');
     			var dotpos=emailVal.lastIndexOf('.');
     			if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length)	{
         			alert('Please enter a valid email address. ');
         			emailFld[i].focus();
         			return false;
           	    }
            }
        }
        return true;
    }

    document.querySelector("#webform5824731000001554023").addEventListener("submit", async (event) => {
        event.preventDefault();
        const isRecaptchaValid = await checkReCaptcha();
        if (!isRecaptchaValid) {
            console.error("reCAPTCHA validation failed!");
            document.getElementById('recapErr5824731000001554023').style.visibility='visible';
            return; // Stop the form submission
        }
        console.log("reCAPTCHA passed! Submitting form...");
        event.target.submit();
    });

    function checkReCaptcha() {
        const recaptcha = document.getElementById("recap5824731000001554023");
        if(!validateEmail()){return false;}
        const token = grecaptcha.getResponse();
        if (!token) {
          alert("Please complete the reCAPTCHA challenge.");
          return false;
        }
        return true;
    }
</script>
