---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/blocks/Header.astro";
---

<BaseLayout title="URIKA [404]">
    <Header title="404 ERROR" branded="true" />
    <div class="flex flex-col justify-center">
        <p class="text-lg text-center">The page you are looking for does not exist, or has been moved.</p>
    </div>
</BaseLayout>
