---
import BaseLayout from "../layouts/BaseLayout.astro"
export const prerender = false
---

<BaseLayout title="Contact Us" description="Get in touch with URIKA BioWorks">
    <p>testing</p>
</BaseLayout>
