---
import '../../public/urika.css'
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>URIKA [bioworks]</title>
		<script src="https://cdn.jsdelivr.net/npm/motion@11.11.13/dist/motion.js"></script>
	</head>
	<body class="flex flex-col justify-center items-center h-dvh bg-stone-100">
        <svg class="fade-in max-w-[90%] max-h-[80%]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <image href="logo.svg" x="5" y="5" width="90" height="90" />
        </svg>
	</body>
	<script is:inline type="module">
   	    const { animate, inView } = Motion
        inView(".fade-in", ({ target }) => {
        animate(target,
      		{ opacity: [0.1, 1], y: [30, 0] },
      		{ duration: 0.5, ease: 'easeOut' }
         	);
        })
    </script>
</html>
