---
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/blocks/Header.astro"
import Head from "../components/Head.astro"
---
<Head title={"URIKA [bioworks] - Thank You"} />
<BaseLayout>
    <Header title="FORM SUBMITTED" branded={true} />
    <div class="text-center text-xl">
        <p>Thank you for reaching out to us. We will get back to you as soon as possible.</p>
    </div>
</BaseLayout>
