---
const { logo } = Astro.props
---
<footer class="mt-12 py-4 border-t border-urika-gray-100 dark:border-zinc-800">
    <div class="flex justify-center align-middle w-full">
        <img src={`https://admin.urikabioworks.com/assets/${logo}`} alt="URIKA Logo" class="h-6 mr-2" />
        <p class="font-touche text-urika-blue-800 dark:text-urika-blue-600">
            <script type="text/javascript">document.write(`<a href="mailto:&#105;&#110;&#102;&#111;&#64;&#117;&#114;&#105;&#107;&#97;&#98;&#105;&#111;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;" rel="nofollow noopener noreferrer">&#105;&#110;&#102;&#111;&#64;&#117;&#114;&#105;&#107;&#97;&#98;&#105;&#111;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a>`);</script>
        </p>
    </div>
</footer>
